@keyframes slideToBottom {
	0% {
		transform: translateY(0%) rotate(3deg);
	}
	40% {
		opacity: 100%;
	}
	99% {
		display: initial;
	}
	100% {
		transform: translateY(50vh) rotate(35deg);
		opacity: 0%;
		display: none;
	}
}
@keyframes slideToTop {
	0% {
		transform: translateY(0%);
	}
	40% {
		opacity: 100%;
	}
	99% {
		display: initial;
	}
	100% {
		transform: translateY(-60vh) rotate(-20deg);
		opacity: 0%;
		display: none;
	}
}
@keyframes bounceIn {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	60% {
		transform: scale(1.15);
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 1;
		animation: none;
	}
}
.play {
	animation: slideToBottom 0.3s ease-in-out;
	animation-fill-mode: forwards;
}
.playText {
	animation: slideToTop 0.3s ease-in-out;
	animation-fill-mode: forwards;
}
.initial {
	animation: bounceIn 0.2s ease-in-out;
}
