.refresh {
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 2rem;
	border: 1px solid black;
	border-radius: 100%;
	padding: 20px;
	transition: all 100ms;
}
.refresh svg {
	transition: all 0.1s;
}
.rotate svg {
	animation: rotate 0.4s ease-in-out;
}
.rotate {
	animation: pinch 0.4s ease-in-out;
}
.refresh:hover {
	cursor: pointer;
	transform: translate(-50%, -50%) scale(1.1);
}
.refresh:hover > svg {
	transform: scale(1.2) rotate(15deg);
}
@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes pinch {
	0% {
		padding: 20px;
	}
	50% {
		padding: 18px;
		opacity: 100%;
	}
	100% {
		padding: 20px;
		opacity: 0%;
	}
}

@keyframes fade {
	50% {
		opacity: 100%;
	}
	100% {
		opacity: 0%;
	}
}

.fade {
	animation: fade 0.4s ease-in-out;
}

@keyframes appear {
	0% {
		opacity: 0%;
	}
	100% {
		opacity: 100%;
	}
}
.appear {
	animation: appear 0.4s ease-in-out;
}
