@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Inter', sans-serif;
}
#root {
	overflow-x: hidden !important;
	overflow-y: hidden !important;
	max-height: 100vh !important;
}
